.board {
  position: absolute;
  left: 50px;
  top: 0px;
}

.boardController {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controlPanel {
  display: flex;
  flex-direction: row;
}

.controlPanel>div {
  display: flex;
  flex-direction: column-reverse;
}

.controlPanel button {
  width: 35px;
  height: 35px;
  padding: 0;
  border: transparent;
  background-size: 60%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  font-size: .6rem;
  color: white;
}

.controlPanel>div button:not(:first-child) {
  visibility: hidden;
}

.rightPanel>div:hover button {
  visibility: visible;
}

.rightPanel>div:hover {
  border-radius: 35px;
  background-color: rgba(0, 0, 0, .5);
}

.boardContent {
  pointer-events: initial;
}

.tmpTopLayer {
  z-index: 1000;
}

.tmpTopLayer .boardContent {
  opacity: .9;
}

.opacity {
  background-image: url('../image//icons//display.png');
}

.moveUp {
  background-image: url('../image//icons//moveup.png');
}

.moveTop {
  background-image: url('../image//icons//movetop.png');
}

.moveDown {
  background-image: url('../image//icons//movedown.png');
}

.moveBottom {
  background-image: url('../image//icons//movebottom.png');
}

.colorSelector {
  background-image: url('../image//icons//colorSelector.png');
}

.pixelate {
  background-image: url('../image//icons//pixelate.png');
}

.locker {
  background-image: url('../image//icons//locker.png');
}

.delete {
  background-image: url('../image//icons//delete.png');
}