.board {
  position: absolute;
  left: 50px;
  top: 0px;
}

.boardController {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boardContent {
  position: relative;
  font-size: 0rem;
}

.controlPanel {
  display: flex;
  flex-direction: row;
}

.controlPanel>div {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.controlPanel button {
  width: 35px;
  height: 35px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.leftPanel button {
  background-size: 80%;
}

.rightPanel button {
  background-size: 65%;
}

.controlPanel>div button:not(:first-child) {
  visibility: hidden;
}

.nameInput {
  width: 60px;
  height: 35px;;
  overflow: hidden;
}

.opacityInput {
  position: absolute;
  width: 35px;
  height: 35px;
  text-align: center;
  -moz-appearance: textfield !important;
}

.rightPanel>div:hover button {
  visibility: visible;
}

.rightPanel>div {
  border-radius: 35px;
}

.boardContent {
  pointer-events: initial;
}

.tmpTopLayer {
  z-index: 1000 !important;
}

.tmpTopLayer .boardContent {
  opacity: .9 !important;
}

.opacity {
  background-image: url('../image/icons/display.png');
}

.opacityZero {
  background-image: url('../image/icons/noDisplay.png') !important;
}

.colorPicker {
  background-image: url('../image/icons/colorPicker.png');
}

.lock {
  background-image: url('../image/icons/lock.png');
}

.unlock {
  background-image: url('../image/icons/unlock.png');
}