.board {
  position: absolute;
  left: 50px;
  top: 0px;
}

.boardController {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controlPanel {
  display: flex;
  flex-direction: row;
}

.controlPanel>div {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}

.controlPanel button {
  width: 35px;
  height: 35px;
  padding: 0;
  border: transparent;
  background-size: 65%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  font-size: .6rem;
  color: white;
}

.controlPanel>div button:not(:first-child) {
  visibility: hidden;
}

.nameInput {
  width: 60px;
  height: 35px;;
  border: transparent;
  background: transparent;
  overflow: hidden;
  color: white;
}

.opacityInput {
  position: absolute;
  width: 35px;
  height: 35px;
  border: transparent;
  outline: transparent;
  background: transparent;
  box-shadow: transparent;
  text-align: center;
  color: white;
  -moz-appearance: textfield !important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.rightPanel>div:hover button {
  visibility: visible;
}

.rightPanel>div:hover {
  border-radius: 35px;
  background-color: rgba(0, 0, 0, .5);
}

.boardContent {
  pointer-events: initial;
}

.noDisplay {
  display: none; 
}

.tmpTopLayer {
  z-index: 1000 !important;
}

.tmpTopLayer .boardContent {
  opacity: .9 !important;
}

.opacity {
  background-image: url('../image//icons//display.png');
  background-size: 80% !important;
}

.moveUp {
  background-image: url('../image//icons//moveup.png');
}

.moveTop {
  background-image: url('../image//icons//movetop.png');
}

.moveDown {
  background-image: url('../image//icons//movedown.png');
}

.moveBottom {
  background-image: url('../image//icons//movebottom.png');
}

.colorSelector {
  background-image: url('../image//icons//colorSelector.png');
}

.pixelate {
  background-image: url('../image//icons//pixelate.png');
}

.lock {
  background-image: url('../image//icons//lock.png');
}

.unlock {
  background-image: url('../image//icons//unlock.png');
}

.delete {
  background-image: url('../image//icons//delete.png');
}

