body {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden; 
  background-color: rgb(30, 30, 30);
}

#main {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.noPointerEvents {
  pointer-events: none !important;
}

.initialPointerEventsForChildren>div {
  pointer-events: initial !important;
}

.initialPointerEvents {
  pointer-events: initial !important;
}

.noDisplay {
  display: none !important; 
}

.cursorCrossHair {
  cursor: crosshair;
}

.cursorMove {
  cursor: move;
}

.cursorResize {
  cursor: w-resize;
}

input {
  border: transparent;
  outline: transparent;
  background: transparent;
  box-shadow: transparent;
  color: white;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

.crispEdges {
  image-rendering: -moz-crisp-edges;         
  image-rendering: -o-crisp-edges;   
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}